#loginWrapper {
    .inner {
        label {
            color: $gray-lighter;
            font-weight: normal;
            font-size: 1.3em;
            letter-spacing: 1px;
        }

        #rememberMe {
            label {
                font-size: 1.1em;
            }
        }

        .forgotPassword {
            color: $brand-warning;
            text-decoration: none;
            line-height: 4em;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}